.barcode-scanner-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.video-element {
  width: 100%;
  height: auto;
  max-width: 640px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.scanning-buttons {
  display: flex;
  justify-content: center;
}

.start-scan-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.stop-scan-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
